<mat-toolbar class="mat-elevation-z8 " style="background-color: transparent;">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>PORTFOLIOS</span>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-button routerLink="home">HOME</button>
    &nbsp;&nbsp;
    <button mat-button routerLink="team">TEAM</button>&nbsp;&nbsp;
    <button mat-button routerLink="about">About Us</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button routerLink="log">SIGN IN</button>

    &nbsp;&nbsp;&nbsp;

    <button mat-raised-button routerLink="sign">SIGN UP</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-icon>notifications</mat-icon>
</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer #drawer opened="false" mode="push">
        <mat-nav-list>
            <mat-list-item>
                <button mat-button><mat-icon>dashboard</mat-icon>Dashboard</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="home"><mat-icon>home</mat-icon>Home</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>settings</mat-icon>settings</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>help</mat-icon>Help</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>analytics</mat-icon>Analytics</button>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="min-height: 600px;">
        <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
