.bg1{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.pinimg.com/originals/a6/c9/46/a6c946bee60c961e70ac23214528da6a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}


